.help_404 h3 {
  color:#306498;
  font-size:2rem;
  text-decoration: underline;
  text-align: center
}
.help_404 form {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:0.5em 1em ;}
.help_404 textarea{
  text-align:center;
}
.help_404 table {
  margin:auto;
  border:1px solid;
  table-layout:fixed;
  width:clamp(80% ,30em,90vw);
}
.help_404 th,
.help_404 td{
  border: solid 1px;
  overflow:hidden;
  text-overflow:ellipsis;
  height:3em;}
.help_404 tr :first-child:hover {
  background:white;
  position:absolute;
  max-width:90vw;
  overflow:auto;}
.help_404 thead {
  background:#bee
}